  <div class="ui borderless main menu">
    <div class="ui text container">
      <a href="/" class="header left floated item">首页</a>
      <a href="#" class="ui header dropdown item">python
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">python基础</div>
          <div class="item">常用脚本</div>
          <div class="item">django</div>
          <div class="item">flask</div>
          <div class="item">celery</div>
        </div>
      </a>

      <a href="#" class="ui header dropdown item">前端
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">html</div>
          <div class="item">javascript</div>
          <div class="item">jquery</div>
          <div class="item">vue.js</div>
        </div>
      </a>

      <a href="#" class="ui header dropdown item">linux
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">linux基础</div>
          <div class="item">shell脚本</div>
          <div class="item">nginx</div>
          <div class="item">mysql</div>
          <div class="item">redis</div>
        </div>
      </a>

      <a href="#" class="ui header dropdown item">虚拟化
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">kvm</div>
          <div class="item">docker</div>
          <div class="item">k8s</div>
        </div>
      </a>

      <a href="#" class="ui header dropdown item">项目
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">blog</div>
          <div class="item">运维平台</div>
          <div class="item">电子商城</div>
        </div>
      </a>

      <a href="#" class="header item">顿悟</a>
      <a href="#" class="header right floated item">关于我</a>
    </div>
  </div>