  <div class="ui borderless main menu">
    <div class="ui text container">
      <a href="#" class="header item">主页</a>
      <a href="#" class="header item">python</a>
      <a href="#" class="header item">django</a>
      <a href="#" class="header item">前端</a>
      <a href="#" class="header item">linux</a>
      <a href="#" class="header item">docker</a>
      <a href="#" class="header item">顿悟</a>
      <!--
      <a href="#" class="ui header dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Link Item</div>
          <div class="item">Link Item</div>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">Link Item</div>
        </div>
      </a>
      -->
      <a href="#" class="header right floated item">关于我</a>
    </div>
  </div>